<div class="col-md-2">
    <app-dropdown></app-dropdown>
    <ul class="nav flex-column nav-pills">
      <li class="nav-item active">
        <a class="nav-link" href="#">OVERVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">VISITS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">PRESCRIPTIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEDICAL HISTORY</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">DOCUMENTS</a>
      </li>
    </ul>
  </div>
  