<div class="icon-bar">
    <div class="icon-top">
    <a id="incon1" href="#"><img src="assets/house.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/calendar.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/folder.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/list-symbol-of-three-items-with-dots.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/link.svg" width="16" height="16"></a>
  </div>
  <div class="icon-Bottom">
    <a href="#"><img src="assets/bell.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/speech-bubble.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/user.svg" width="16" height="16"></a>
    <a href="#"><img src="assets/menu.svg" width="16" height="16"></a>
  </div>
  </div>
  